.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card);
    color: var(--text);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.header > .header-title {
    padding: 30px;
    text-align: center;
}

.header > .nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.header a {
    background-color: var(--background);
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--text);
    display: block;
}

.header a:hover {
    background-color: var(--hover);
}